# KSO_RAG_GITHUB_REPO=your-org/kso-rag

# OpenAI
OPENAI_API_BASE=https://api.openai.com/v1
OPENAI_API_KEY=<YOUR_OPENAI_KEY>
OPENAI_CHAT_MODEL=gpt-4o-mini
OPENAI_EMBEDDINGS_MODEL=text-embedding-3-large

# Azure OpenAI
AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_API_KEY=
OPENAI_API_VERSION=2024-02-15-preview
AZURE_OPENAI_CHAT_DEPLOYMENT=gpt-35-turbo
AZURE_OPENAI_EMBEDDINGS_DEPLOYMENT=text-embedding-ada-002

# Google
GOOGLE_API_KEY=<YOUR_GOOGLE_API_KEY>
GOOGLE_MODEL_NAME=gemini-1.5-flash

# Cohere
COHERE_API_KEY=<COHERE_API_KEY>

# Mistral
# MISTRAL_API_KEY=placeholder

# VoyageAI
VOYAGE_API_KEY=<VOYAGE_API_KEY>

# Local models
LOCAL_MODEL=qwen2.5:7b
LOCAL_MODEL_EMBEDDINGS=nomic-embed-text

# GraphRAG
GRAPHRAG_API_KEY=<YOUR_OPENAI_KEY>
GRAPHRAG_LLM_MODEL=gpt-4o-mini
GRAPHRAG_EMBEDDING_MODEL=text-embedding-3-small

# set to true if you want to use customized GraphRAG config file
USE_CUSTOMIZED_GRAPHRAG_SETTING=false

# Azure DI
AZURE_DI_ENDPOINT=
AZURE_DI_CREDENTIAL=

# Adobe API
PDF_SERVICES_CLIENT_ID=
PDF_SERVICES_CLIENT_SECRET=

# PDF.js
PDFJS_VERSION_DIST="pdfjs-4.0.379-dist"
